html
  head
    title= 'Is there a new frank ocean album yet'
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='js/app.js')
    link(rel='stylesheet', href='css/main.css', type='text/css')
    link(rel='shortcut icon' href='images/favicon.ico' type='image/x-icon')
  body
    div.loader
    div.content-container
        div.main-content
            h1.loading
            img.frank(src='images/frank/frank-1.png')
        div.button-container
            button.how-about-now How About Now?
