html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title= 'Is there a new frank ocean album yet'
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='js/app.js')
    link(rel='stylesheet', href='css/main.css', type='text/css')
    link(rel='shortcut icon' href='images/favicon.ico' type='image/x-icon')
  body
    div.loader.modal
      h2 Searching Spotify's API for the goods
    div.content-container
      .table-row.outer.top
        .table-cell.side
        .table-cell.middle
          h2 Is the new Frank Ocean record out yet?
        .table-cell.side
      .table-row.inner
        .table-cell.side
          .flint-modal-toggle.modal-close
            span(class='sidebar-img flint-logo')
        .table-cell.middle
          .headline-container
            .main-headline.loading
            img.frank(src='images/frank/frank-1.png')
        .table-cell.side
          a(href="spotify:artist:2h93pZq0e7k5yf4dywlkpM")
            span(class='sidebar-img spotify-logo')
      .table-row.outer.bottom
        .table-cell.side
        .table-cell.middle
          div.button-container
              button.how-about-now How About Now?
        .table-cell.side
    div.love-flint-modal.modal.js-hide
      div.love-flint-modal__inner
        p A friendly reminder that we are as excited about the Frank Ocean record as you are. Check back soon. Maybe it'll be out.
        p
          |Love,
          br
          a(href="http://flintmade.co" target="_blank") Flint
          | &nbsp;+&nbsp;
          a(href="http://boysdontcry.co/" target="_blank") Frank
          | &nbsp;+&nbsp;
          a(href="http://www.terryrichardson.com/" target="_blank") Terry
    script.
      WebFontConfig = { fontdeck: { id: '57381' } };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
