.modal {
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
}

.modal h2 {
  bottom: 5%;
  position: absolute;
}

div.loader {
  background: url('../images/outyet.svg') center center no-repeat #000;
  background-size: 85%;
}

.flint-modal-toggle {
  margin: 0 auto;
  position: relative;
  width: 20px;
}

.active.flint-modal-toggle::after{
  color: #fff;
  content: 'x';
  font-family: 'Maison Neue Mono', monospace;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: -5px;
  z-index:12;
}

.love-flint-modal {
  top: 0;
  left: 0;
  font-family: 'Maison Neue Mono', monospace;
  background: #000;
  color: #fff;
  letter-spacing: 2px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 500ms, opacity 500ms ease;
}

.love-flint-modal.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms ease;
}

.love-flint-modal a:link, .love-flint-modal a:visited {
  color: #666;
  text-decoration: none;
}

.love-flint-modal p {
  font-size: 0.8em;
  letter-spacing: 0.2em;
  width: 90%;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.65;
}

.love-flint-modal__inner {
  width: 90%;
  max-width: 700px;
  margin: calc(50vh - 80px) auto;
  position: relative;
}


.love-flint-modal p:last-child {
  margin-top: 5%;
  color: #666;
}

body, html {
  padding: 0;
  height: 100%;
  -webkit-tap-highlight-color:transparent;
}

body {
  background: #f2f2f2;
  display: table;
  margin: 0 auto;
  overflow: hidden;
  vertical-align: middle;
}

.content-container {
  z-index: 1;
  margin: 0 auto;
  height: 100vh;
  vertical-align: middle;
}

.table-row {
  display: table-row;
}

.table-row.top {
  height: 20vh;
}

.table-row.bottom {
  height: 24vh;
}

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.table-cell.side {
  width: 20vh;
}

.side img {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.side img:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.table-cell.middle {
  width: 80vh;
}

.sidebar-img {
  width:20px;
}

.main-content {
  display: table;
  margin: 0 auto;
}

h2 {
  font-family: 'Maison Neue Mono', monospace;
  font-size: 13px;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;
}

.main-headline {
  background: url('') no-repeat center center / 140%;
  display: table-cell;
  margin: 0 auto;
  height: 100%;
  width: 90%;
  max-width: 800px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

* {
  cursor: help;
}

.headline-container {
  display: table;
  margin: 0 auto;
}

.button-container {
  margin: 0 auto;
  vertical-align: middle;
}

.how-about-now {
  background: url('../images/button.svg') no-repeat center center;
  -webkit-appearance: none;
  display: block;
  width: 300px;
  background-size: 100%;
  border: none;
  text-indent: -9999px;
  height: 40px;
  display: block;
  padding: 0;
  margin: 0 auto;
  outline: none;
  position: relative;
  animation: appear 0.75s ease;
  animation-delay: 2000ms;
  animation-iteration-count: 1;
}

.how-about-now:after {
  background: url('../images/line.svg') repeat-x center center;
  -webkit-appearance: none;
  content: '';
  display: block;
  height: 4px;
  overflow: hidden;
  position: absolute;
  bottom: -30%;
  max-width: 300px;
  width: 300px;
  transform: scale(0,1);
  transition: all 0.25s ease-in-out;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  /*Safari and Chrome*/
  -webkit-animation-timing-function:linear;
  -webkit-animation-play-state:running;
}

.how-about-now:hover.how-about-now:after {
  pointer: ;
  transform: scale(1);
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 12px;
    margin-bottom: 0;
  }

  .outer.top {
    height: 33vh;
  }

  .outer.bottom {
    height: 34.5vh;
  }

  .table-row.inner {
    height: 20vh;
  }

  .inner .middle {
    width: 80vw;
  }

  .inner .side {
    width: 10vw;
  }

  .how-about-now {
    width: 240px;
  }

  .how-about-now:after {
    bottom: -5%;
    height: 3px;
    max-width: 240px;
  }

  .active.flint-modal-toggle::after{
    color: #fff;
    content: 'x';
    font-family: 'Maison Neue Mono', monospace;
    font-size: 20px;
    position: absolute;
    width: 20px;
    bottom: -25%;
    right: -250%;
    z-index:12;
  }

  .sidebar-img {
    width: 16px;
  }
}

img.frank {
  margin: 0 auto;
  text-align: center;
  display: block;
  max-width: 100%;
}

.main-headline.loading {
  width: 70%;
  background: url('../images/questionmark.svg') no-repeat center center / 20%;
  -webkit-animation:spin 0.25s linear infinite;
  -moz-animation:spin 0.25s linear infinite;
  animation:spin 0.25s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes appear { 
  0% {
    bottom: -500px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  } 
}
@-webkit-keyframes appear { 
  0% {
    bottom: -500px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  } 
}
@keyframes appear { 
  0% {
    bottom: -500px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  } 
}

@-moz-keyframes img-appear { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}
@-webkit-keyframes img-appear { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes img-appear { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

::selection {
  color: #f2f2f2;
  background: #000;
}

::-moz-selection {
  color: #f2f2f2;
  background: #000;
}

.qmark-random {
  z-index: 9999;
  position: fixed;
  width: 62px;
  height: 150px;
}
