div.loader {
  background: url('../images/outyet.svg') center center no-repeat #000;
  background-size: 90%;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: #f2f2f2;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.content-container {
  margin: 0 auto;
  max-width: 1500;
  position: relative;
  top: 50%;
  vertical-align: middle;
  transform: translateY(-50%);
  z-index: 1;
}

.main-content {
  display: table;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

h1 {
  background: url('') no-repeat center center / 140%;
  display: table-cell;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 800px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

* {
  cursor: help;
}

.button-container {
  margin: 0 auto;
  vertical-align: middle;
}

.how-about-now {
  background: url('../images/button.svg') no-repeat center center;
  -webkit-appearance: none;
  display: block;
  width: 300px;
  background-size: 100%;
  border: none;
  text-indent: -9999px;
  height: 40px;
  display: block;
  padding: 0;
  margin: 10% auto 0;
  position: relative;
}

.how-about-now::after {
  background: url('../images/line.svg') repeat-x center center;
  -webkit-appearance: none;
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  bottom: -40%;
  max-width: 300px;
  width: 50vw;
}

img.frank {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  display: block;
}

h1.loading {
  background: url('../images/questionmark.svg') no-repeat center center / 20%;
  -webkit-animation:spin 1.5s linear infinite;
  -moz-animation:spin 1.5s linear infinite;
  animation:spin 0.25s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
